body{
			padding: 0;
			margin: 0;
		}
		svg{
			width: 500px;
			height: 500px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		@keyframes animate {
			to{
				stroke-dashoffset:0;
			}
		}
	.st0{fill:#CC1717;
		stroke:#000000;
		stroke-width: 5px;
		fill: transparent;
		stroke-dasharray: 400;
		stroke-dashoffset:4400;
		animation: animate 5s linear infinite;
	}
	.st121{font-family:'BerlinSansFB-Reg';}
	.st122{font-size:171.0337px;}
	.st123{font-family:'Lato-Regular';}
	.st{
		stroke:#000000;
		stroke-width: 5px;
		fill: transparent;
		stroke-dasharray: 1200;
		stroke-dashoffset:4400;
		animation: animate 5s linear infinite;
	}
